html(ng-app="monitormapApp")
	head
		title monitorMap
		// build:css(static_src) vendor.css
		link(rel="stylesheet",href="deps/semantic/dist/semantic.min.css")
		// bower:css
		// endbower
		// endbuild
	body(ng-controller="MainCtrl")
		// build:js(static_src) vendor.js
		// bower:js
		// endbower
		// endbuild
		// build:js(static_src) app.js
		// injector:js
		// endinjector
		// endbuild
