html(ng-app="monitormapApp")
	head
		title monitorMap
		// build:css(static_src) vendor.css
		link(rel="stylesheet",href="deps/semantic/dist/semantic.min.css")
		// bower:css
		// endbower
		// endbuild
		// build:css(static_src) app.css
		// injector:css
		link(rel="stylesheet",href="css/index.css")
		// endinjector
		// endbuild
	body
		div
			.ui.top.menu
				a.item(ui-sref="node.list",ui-sref-active="active")
					i.icon.list
					| List
				a.item(ui-sref="node.group",ui-sref-active="active")
					i.icon.group
					| Group
				a.item(ui-sref="node.new",ui-sref-active="active")
					i.icon.plus
					| New
				a.item(ui-sref="passphrase",ui-sref-active="active")
					i.icon.lock.un
					| Unlock
		main.main
			div(ui-view="")
		// build:js(static_src) vendor.js
		// bower:js
		script(src='deps/socket.io-client/socket.io.js')
		script(src='deps/jquery/dist/jquery.min.js')
		script(src='deps/angular/angular.min.js')
		script(src='deps/semantic/dist/semantic.min.js')
		script(src='deps/angular-ui-router/release/angular-ui-router.min.js')
		script(src='deps/angular-tablesort/js/angular-tablesort.js')
		script(src='deps/angular-socket-io/socket.min.js')
		script(src='deps/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
		// endbower
		// endbuild
		// build:js(static_src) app.js
		// injector:js
		script(src='js/app.js')
		script(src='js/directive/dropdown.js')
		script(src='js/app/index.js')
		script(src='js/app/passphrase.js')
		script(src='js/app/node/index.js')
		script(src='js/app/node/detail.js')
		script(src='js/app/node/list.js')
		script(src='js/app/node/new.js')
		script(src='js/app/node/group.js')
		script(src='js/app/node/detail_group.js')
		// endinjector
		// endbuild
