html(ng-app="monitormapApp")
	head
		title monitorMap
		// build:css(static_src) vendor.css
		link(rel="stylesheet",href="deps/semantic/dist/semantic.min.css")
		// bower:css
		// endbower
		// endbuild
		// build:css(static_src) app.css
		// injector:css
		link(rel="stylesheet",href="css/index.css")
		// endinjector
		// endbuild
	body
		div
			.ui.top.menu
				a.item(ui-sref="list",ui-sref-active="active")
					i.icon.list
					| List
				a.item(ui-sref="new",ui-sref-active="active")
					i.icon.plus
					| New
		main.main
			div(ui-view="")
		// build:js(static_src) vendor.js
		// bower:js
		script(src='deps/socket.io-client/socket.io.js')
		script(src='deps/jquery/dist/jquery.min.js')
		script(src='deps/angular/angular.min.js')
		script(src='deps/angular-ui-router/release/angular-ui-router.min.js')
		script(src='deps/angular-tablesort/js/angular-tablesort.js')
		script(src='deps/angular-socket-io/socket.min.js')
		script(src='deps/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
		// endbower
		// endbuild
		// build:js(static_src) app.js
		// injector:js
		script(src='js/app.js')
		script(src='js/app/index.js')
		script(src='js/app/list.js')
		script(src='js/app/new.js')
		// endinjector
		// endbuild
