.scrolltable
	table.ui.table.striped(ts-wrapper)
		thead
			tr
				th(ts-criteria='name|lowercase',ts-default) Name
		tbody
			tr(ng-repeat='item in list',ts-repeat)
				td {{item.name}}
		tfoot
			tr
				th count: {{list.length}}
